{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.sum_of_shares }}</td>
            <td>{{ stock.sum_of_price }}</td>
            <td>{{ stock.sum_of_total }}</td>
        </tr>
        {% endfor %}
        
        <tr class="warning">
            <td style="font-weight:bold">CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="font-weight:bold">{{ user.cash }}</td>
        </tr>
        <tr class="success">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="font-weight:bold">{{ total_sum }}</td>
        </tr>
    </table>
{% endblock %}
